@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*Navbar*/
:root{
    --main-color: #00AB9B;
}

.theme-text{
    color: var(--main-color);
}

.act{
    color: var(--main-color) !important;
}

.navbar{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar ul li a:hover{
    color: var(--main-color) !important;
}

.btn{
    background: var(--main-color);
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.btn:hover{
    background: #03D9C4;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.offcanvas-title{
    color: var(--main-color);
}

.header{
    background-color: white;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.middle{
    height: 75vh;
    display: flex;
    align-items: center;
}

/*Signup*/
.signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f1f0f0;
}

.forms{
    width: 360px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
}

h1{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.form-control{
    margin-bottom: 20px;
}

.form-group, .form-check{
    font-size: 12px;
}

.form-check-label{
    padding-bottom: 15px;
}

.term{
    text-decoration: none;
    color: blue;
}

.login{
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    gap: 5px;
}

.span{
    color: blue;
    text-decoration: none;
}

.google{
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.facebook{
    margin: 5px;
    border-radius: 10px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #3b5998;
    color: white;
}

#errorMessage{
    text-align: center;
    color: red;
    font-size: 14px;
}